*{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

body {
    overflow-y: hidden;
}

#report {
    width: 18%;
    height: 100%;
    display: inline-block;
    position: absolute;
    padding: 1%;
    left: 0;
    background-color: var(--bg);
}

#canvas {
    display: inline-block;
    width: 80%;
    height: 90%;
    position: absolute;
    left: 20%;
    background-color: var(--bg);
    background-image: radial-gradient(lightgray 2px, transparent 0);
    background-size: 40px 40px;
    cursor: pointer;
}

.window {
    width: 30%;
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--green);
    border-radius: 2px;
    padding: 2px;
    height: fit-content;
}

.window .windowContent {
    width: 95%;
    margin: 0 auto;
    min-height: 25px;
    padding: 1.5%;
    box-shadow: inset 0 0 2px 0px;
}

.windowContent input {
    all: unset;
    border-bottom: 2px solid lightgray;
    transition: all 0.3s ease;
    width: 100%;
}

.windowContent input:focus {
    border-color: black;
}

#weights {
    max-height: 50%;
    overflow-y: scroll;
}

.window nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alert-center{
    position: fixed;
    right: -100%;
    z-index: 1000;
    width: 25%;
    aspect-ratio: 6/1;
    bottom: 0;
    transition: right 0.3s ease;
    padding: 15px;
    border-top-left-radius: 25px;
}

.warning {
    right: 0 !important;
    background-color: #f6e89b;
    color: #6f6a4f;
}

.warning h1, .error h1, .info h1{
    font-weight: 700;
    font-size: medium;
}

.error {
    right: 0 !important;
    background-color: #c86c6c;
    color: #492828;
}

.info {
    right: 0 !important;
    background-color: lightblue;
    color: rgb(9, 9, 34);
}

#query-bg {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#query {
    width: 30%;
    min-height: 25px;
    background-color: var(--bg);
    border-radius: 5px;
    padding: 15px;
}

#query *{
    display: block;
    font-size: 1em;
}

#query input {
    all: unset;
    border-bottom: 2px solid lightgray;
    width: 100%;
    transition: all 0.3s ease;
    margin: 5px 0;
}

#query input:focus {
    border-color: black;
}

#query button {
    all: unset;
    background-color: var(--green);
    color: snow;
    padding: 2px 5px;
    border: 2px solid var(--green);
    transition: all 0.3s ease;
    cursor: pointer;
}

#query button:hover {
    background-color: transparent;
    color: black;
}