*{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

body {
    overflow-y: hidden;
}

#report {
    width: 18%;
    height: 100%;
    display: inline-block;
    position: absolute;
    padding: 1%;
    left: 0;
    background-color: var(--bg);
}

#report input {
    color: var(--text);
    overflow-x: hidden;
    position: relative;
    border-color: var(--text);
    border-radius: 5px;
    border-style: solid;
    background-color: transparent;
    border-width: 0;
    transition: border-width 0.1s ease;
}

#report input:hover, #report input:focus {
    outline: none;
    border-width: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#canvas {
    display: inline-block;
    width: 80%;
    height: 90%;
    position: absolute;
    left: 20%;
    background-color: var(--bg);
    background-image: radial-gradient(lightgray 2px, transparent 0);
    background-size: 40px 40px;
    cursor: pointer;
}

.window {
    width: 30%;
    position: absolute;
    background-color: var(--bg);
    border: 1px solid var(--green);
    border-radius: 2px;
    padding: 2px;
    height: fit-content;
}

.window .windowContent {
    width: 95%;
    margin: 0 auto;
    min-height: 25px;
    padding: 1.5%;
    box-shadow: inset 0 0 2px 0px;
}

.windowContent input {
    all: unset;
    border-bottom: 2px solid lightgray;
    transition: all 0.3s ease;
    width: 100%;
}

.windowContent input:focus {
    border-color: black;
}

#weights {
    position: absolute;
    bottom: 12%;
    max-height: 30%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.window nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alert-center{
    position: fixed;
    right: -100%;
    z-index: 1000;
    width: 25%;
    aspect-ratio: 6/1;
    bottom: 0;
    transition: right 0.3s ease;
    padding: 15px;
    border-top-left-radius: 25px;
}

.warning {
    right: 0 !important;
    background-color: #dd9900;
}

.warning h1, .error h1, .info h1{
    font-weight: 700;
    font-size: medium;
}

.error {
    right: 0 !important;
    background-color: #842820;
}

.info {
    right: 0 !important;
    background-color: #1515CD;
}

#query-bg {
    background-color: var(--bg-shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#query {
    width: 30%;
    min-height: 25px;
    background-color: var(--bg);
    border-radius: 5px;
    padding: 15px;
}

#query *{
    display: block;
    font-size: 1em;
}

#query input {
    all: unset;
    border-bottom: 2px solid lightgray;
    width: 100%;
    transition: all 0.3s ease;
    margin: 5px 0;
}

#query input:focus {
    border-color: black;
}

#query button {
    all: unset;
    background-color: var(--green);
    color: snow;
    padding: 2px 5px;
    border: 2px solid var(--green);
    transition: all 0.3s ease;
    cursor: pointer;
}

#query button:hover {
    background-color: transparent;
    color: black;
}

#fillLast {
    background-color: var(--highlight);
    position: absolute;
    padding: 3px 7px;
    right: 15px;
    top: 10%;
    border-radius: 1000px;
    border: 3px solid var(--highlight);
    transition: background-color 0.3s ease;
}

#fillLast:hover {
    background-color: transparent;
    cursor: pointer;
}
